:root {
    --cor-azul-claro: #41BDD9;
    --cor-branco: #F2F2F2;
    --cor-preto: #060503;
    --cor-azul-escuro: #183873;
}

html {
    font-family: 'Montserrat', 'Jost', sans-serif;
}

body {
    background-color: var(--cor-azul-escuro);
    color: var(--cor-branco);
}

.header {
    text-align: left;
    margin: auto;
    background-color: var(--cor-preto);

    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.header-conteudo a{
    text-decoration: none;
    color: var(--cor-azul-claro);
}

.header-conteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: .5em;
}

.header-hamburguer{
    display: block;
}

#hamburguer {
    background-color: var(--cor-azul-claro);
    color: var(--cor-preto);
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor: pointer;
    font-size: 2em;
}

.header-menu{
    position: absolute;
}

.header_nav {
    background-color: var(--cor-preto);
    display: none;
}

.header_nav.show, .header_nav>ul>li>a.show{
    display: block;
}

ul {
    margin: 0;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}

.header_nav a {
    color: var(--cor-branco);
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover {
    background-color: color-mix(in srgb, var(--cor-azul-claro), var(--cor-branco) 50%);
    color: var(--cor-preto);
}

section {
    width: 100%;
    min-height: 100vh;
    border: solid transparent;
    padding: 0 1em 0 1em;
}

.container {
    text-align: center;
    justify-content: center;
    margin-top: 5em;
}

.banner {
    width: 100%;
    background: url("../assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--cor-azul-escuro);
}

.texto-banner{
    width: 100vw;
}


.banner h2{
    font-size: small;
    font-weight:bolder;
}

.banner h1 {
    color: var(--cor-azul-claro);
}

.ponto {
    color: pink;
}

.banner p, h1,h2 {
    margin: 1em;
}

.banner h1{
    margin-top: .5em;
}

.banner p{
    text-align: left;
    font-size: small;
    margin-left: 1.5em;
    margin-bottom: 0;
}

.line {
    height: 0.125em;
    width: 3.125em;
    background: #E866B2;
    display: block;
    margin: 1.25em auto 1.25em;
}

.line::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 9.375em;
    height: 0.125em;
    border-bottom: 0.125em dashed #E866B2;
    margin-left: -4.6875em;
}

.conteudo-img {
    width: 4em;
    margin: 1em;
}

.conteudo p,
.card-text {
    text-align: left;
}

.figure {
    justify-content: center;
    margin: 2rem;
}

.figure>img {
    width: 50%;
}

.figure>img:hover {
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
}

.figure-caption{
    color: var(--cor-branco);
}

.tamanho {
    width: 2.5em;
}

.card-body {
    grid-template-rows: .5em;
    height: 22rem;
}

h4{
    color: #E866B2;
    display: block;
    font-weight: bold;
}

.trailer_video {
    display: none;
}

.footer {
    padding: 3em 1em 12em 1em;
    text-align: center;
    border-top: 12em;
}

.footer p {
    padding: .8em;
}
                        
.wrapper{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.wrapper iframe{
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 60%;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em;
}

.icon {
    width: 3.75em;
    height: 3.75em;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 36em){
    #hamburguer {
        display: none;
    }

    .header-menu{
        position: relative;
    }
     .header {
        justify-content: space-between;
        align-items: center;
    }

    .header-conteudo{
        justify-content: space-between;
    }

    .header_nav {
        display: block;
    }

    .header_nav ul {
        margin-right: 2em;
        font-size: .9em;
    }

    .header_nav li {
        display: inline-block;
    }

    .header_nav a {
        border-radius: 5px;
    }    

}